body {
    background-color:rgb(95, 104, 104);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0px;
    color:rgb(192, 192, 192);
}

#table-holder {
    display:flex;
    justify-content:center;
    padding: 10px;
}

tr {
    background-color:rgb(75, 81, 81);
    padding-bottom:2px;
}

.first {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.last {
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

table, th, td {
    min-width:150px;
    border-collapse: collapse;
    text-align: center;
}

#pagetop {
    background-color: rgb(126, 0, 0);
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 400px;
    align-items: center;
}

#search-function {
    padding: auto;
    margin-left: 20px;
}

input[type=text], input[type=number] {
    padding: 8px;
    display: inline-block;
    border: 1px solid #7b7979;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100px;
    background-color: #af4c4c;
    padding: 12px;
    color: rgb(193, 193, 193);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #a04545;
}

.id, .integer {
    color:gold;
}

#edit-tr {
    display: flex;
    flex-flow: row;
}